/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-authorization {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  height: 412px;
  position: absolute;
  top: 82px;
  border-radius: 20px;
  background-color: #ffffff;
}
.main-authorization__toggle {
  max-width: 600px;
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: end;
}
.main-authorization__toggle-button {
  position: absolute;
  top: 11px;
  right: 11px;
  background: transparent;
  border: 0;
  font-family: Roboto-Bold, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #1b2473;
}
.main-authorization__toggle :hover {
  cursor: pointer;
}
.main-authorization__header {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 26px;
}
.main-authorization__header-title {
  font-family: Roboto-Bold, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #787878;
}
.main-authorization__form {
  position: absolute;
  bottom: 26px;
}
.main-authorization__form-mail input {
  border: 2px solid #787878;
  width: 510px;
  height: 49px;
  border-radius: 10px;
  padding-top: 7px;
  padding-left: 15px;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  color: #787878;
}
.main-authorization__form-mail ::-moz-placeholder {
  color: #787878;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-authorization__form-mail ::placeholder {
  color: #787878;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-authorization__form-password input {
  border: 2px solid #787878;
  width: 510px;
  height: 49px;
  border-radius: 10px;
  padding-top: 7px;
  padding-left: 15px;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  color: #787878;
}
.main-authorization__form-password ::-moz-placeholder {
  color: #cccccc;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-authorization__form-password ::placeholder {
  color: #cccccc;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-authorization__form-checkbox {
  margin-bottom: 52px;
  font-family: Roboto-Regular, sans-serif;
  color: #787878;
  font-size: 14px;
  line-height: 16px;
}
.main-authorization__form-checkbox a {
  color: #787878;
}
.main-authorization__form-submit {
  display: flex;
  justify-content: center;
}
.main-authorization__form-submit input {
  border-color: transparent;
  background-color: #1b2473;
  color: #ffffff;
  max-width: 600px;
  height: 52px;
  border-radius: 10px;
  font-family: Roboto-Bold, sans-serif;
  font-size: 24px;
}
.main-authorization__form-submit :hover {
  cursor: pointer;
}

.main-registration {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  height: 412px;
  position: absolute;
  top: 82px;
  border-radius: 20px;
  background-color: #ffffff;
}
.main-registration__toggle {
  max-width: 600px;
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: end;
}
.main-registration__toggle-button {
  position: absolute;
  top: 11px;
  right: 11px;
  background: transparent;
  border: 0;
  font-family: Roboto-Bold, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #1b2473;
}
.main-registration__toggle :hover {
  cursor: pointer;
}
.main-registration__header {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 26px;
}
.main-registration__header-title {
  font-family: Roboto-Bold, sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #787878;
}
.main-registration__form {
  position: absolute;
  bottom: 26px;
}
.main-registration__form-mail input {
  border: 2px solid #787878;
  width: 510px;
  height: 49px;
  border-radius: 10px;
  padding-top: 7px;
  padding-left: 15px;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  color: #787878;
}
.main-registration__form-mail ::-moz-placeholder {
  color: #cccccc;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-registration__form-mail ::placeholder {
  color: #cccccc;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-registration__form-password input {
  border: 2px solid #787878;
  width: 510px;
  height: 49px;
  border-radius: 10px;
  padding-top: 7px;
  padding-left: 15px;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  color: #787878;
}
.main-registration__form-password ::-moz-placeholder {
  color: #cccccc;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-registration__form-password ::placeholder {
  color: #cccccc;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.main-registration__form-checkbox {
  margin-bottom: 52px;
  font-family: Roboto-Regular, sans-serif;
  color: #787878;
  font-size: 14px;
  line-height: 16px;
}
.main-registration__form-checkbox a {
  color: #787878;
}
.main-registration__form-submit {
  display: flex;
  justify-content: center;
}
.main-registration__form-submit input {
  border-color: transparent;
  background-color: #1b2473;
  color: #ffffff;
  max-width: 600px;
  height: 52px;
  border-radius: 10px;
  font-family: Roboto-Bold, sans-serif;
  font-size: 24px;
}
.main-registration__form-submit :hover {
  cursor: pointer;
}

.main {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1b2473;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  left: 45px;
  display: flex;
  flex-direction: column;
}
.form-span {
  font-family: Roboto-bold, sans-serif;
  color: #787878;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.main-inactive {
  display: none;
}

.error {
  color: #cb2424;
  font-family: Roboto-Medium, sans-serif;
  font-size: 10px;
  line-height: 16px;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */