.main-authorization {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  height: 412px;
  position: absolute;
  top: 82px;
  border-radius: 20px;
  background-color: #ffffff;
  &__toggle {
    max-width: 600px;
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: end;

    &-button {
      position: absolute;
      top: 11px;
      right: 11px;
      background: transparent;
      border: 0;
      font-family: Roboto-Bold, sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #1b2473;
    }
    :hover {
      cursor: pointer;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    position: absolute;
    top: 26px;

    &-title {
      font-family: Roboto-Bold, sans-serif;
      font-size: 50px;
      line-height: 50px;
      color: #787878;
    }
  }

  &__form {
    position: absolute;
    bottom: 26px;

    &-mail {
      input {
        border: 2px solid #787878;
        width: 510px;
        height: 49px;
        border-radius: 10px;
        padding-top: 7px;
        padding-left: 15px;
        font-family: Roboto-Bold, sans-serif;
        font-size: 28px;
        color: #787878;
      }

      ::placeholder {
        color: #787878;
        font-family: Roboto-Bold, sans-serif;
        font-size: 28px;
        line-height: 36px;
      }
    }

    &-password {
      input {
        border: 2px solid #787878;
        width: 510px;
        height: 49px;
        border-radius: 10px;
        padding-top: 7px;
        padding-left: 15px;
        font-family: Roboto-Bold, sans-serif;
        font-size: 28px;
        color: #787878;
      }
      ::placeholder {
        color: #cccccc;
        font-family: Roboto-Bold, sans-serif;
        font-size: 28px;
        line-height: 36px;
      }
    }

    &-checkbox {
      margin-bottom: 52px;
      font-family: Roboto-Regular, sans-serif;
      color: #787878;
      font-size: 14px;
      line-height: 16px;
      a {
        color: #787878;
      }
    }

    &-submit {
      display: flex;
      justify-content: center;
      input {
        border-color: transparent;
        background-color: #1b2473;
        color: #ffffff;
        max-width: 600px;
        height: 52px;
        border-radius: 10px;
        font-family: Roboto-Bold, sans-serif;
        font-size: 24px;
      }
      :hover {
        cursor: pointer;
      }
    }
  }
}
