@use '_normalize';
@use '_reset';
@use '_fonts';
@use '_base';
@use '_authorization';
@use '_registration';

.main {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #1b2473;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  left: 45px;
  display: flex;
  flex-direction: column;

  &-span {
    font-family: Roboto-bold, sans-serif;
    color: #787878;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 3px;
  }
}

.main-inactive {
  display: none;
}

.error {
  color: #cb2424;
  font-family: Roboto-Medium, sans-serif;
  font-size: 10px;
  line-height: 16px;
  z-index: -1;
}
